### Importing Libraries

In [61]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Loading the Dataset

In [62]:
df=pd.read_csv('UberDataset.csv')

### Exploratory Data Analysis and Data cleaning

In [39]:
df.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [40]:
df.shape

(1156, 7)

In [41]:
df.columns

Index(['START_DATE', 'END_DATE', 'CATEGORY', 'START', 'STOP', 'MILES',
       'PURPOSE'],
      dtype='object')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1156 non-null   object
 1   END_DATE    1155 non-null   object
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [44]:
df['START_DATE'] = pd.to_datetime(df['START_DATE'],errors='coerce')
df['END_DATE']=pd.to_datetime(df['END_DATE'],errors='coerce' )

In [60]:
df.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [59]:
df.describe(include = 'object')

AttributeError: 'NoneType' object has no attribute 'describe'

In [65]:
df.isnull().sum()

AttributeError: 'NoneType' object has no attribute 'isnull'

In [66]:
df = df.dropna(subset=['END_DATE', 'CATEGORY', 'START', 'STOP'])

AttributeError: 'NoneType' object has no attribute 'dropna'